.map-container{
  display:block;
  width:100%;
  height:auto;
}
.map{
  width:100%;
  height: auto;
}
.restaurants{
  width:100%;
  display: flex;
  flex-wrap:wrap;
}
.filters{
  display: flex;
  width:100%;
  min-height:30px;
  flex-wrap:wrap;
  justify-content: space-between;
}
.filters div{
  width:30%;
}

.filters div select{
  margin-left: auto;
  margin-right: auto;
}
.restaurant-cards{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding:5px;
}
.card{
  width:100%;
  height:auto;
  box-shadow:-6px -10px 15px rgba(0,0,0,0.3), 6px 10px 15px rgba(0,0,0,0.3);
  height:400px;
  position: relative;
}
.card-image{
  width:100%;
  height:300px;
}
.card-image img{
  width:100%;
  height:300px;
}
.btn{
  bottom:0;
  width:100%;
  border:1px solid #100e17;
  min-height:40px;
  cursor:pointer;
  position: absolute;
}
.btn:hover{
  color:white;
  background: #100e17;
}
@media screen and (max-width:300px){
  .filters{
    flex-flow:column;
  }
}
