<section  class="map-container">
  <div id="map" class="map">

  </div>
</section>
<section class="restaurants">
  <div class="filters">
    <div class="">
      <select ng-change="home.filterMap()"  ng-model="home.location">
        <option value="Queens">Queens</option>
        <option value="Manhattan">Manhattan</option>
        <option value="Brooklyn">Brooklyn</option>
        <option value="">All Neighborhoods</option>
      </select>
    </div>
    <div class="">
      <select ng-change="home.filterMap()" ng-model="home.type">
        <option value="Asian">Asian</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Pizza">Pizza</option>
        <option value="">All Cuisines</option>
      </select>
    </div>
  </div>
  <div class="restaurant-cards">
    <h4 ng-if="!home.restaurants">Loading...</h4>
    <div  class="card" ng-repeat="restaurant in home.restaurants  | filter:home.location |filter:home.type">
      <div class="card-image">
        <img ng-src="img/{{restaurant.photograph}}" alt="{{restaurant.name}}">
      </div>
      <div class="card-details">
        <h3 class="restaurant-name">{{restaurant.name}}</h3>
        <p class="restaurant-location"><strong>Neighbourhood</strong>: {{restaurant.neighborhood}}</p>
        <p class="restaurant-location"><strong>Address</strong>: {{restaurant.address}}</p>
        <p class="restaurant-location"><strong>Cuisine Type</strong>: {{restaurant.cuisine_type}}</p>
        <button class="btn" type="button" name="button"><a ui-sref="restaurant({id:restaurant.id})">View Details</a></button>
      </div>
    </div>
  </div>
</section>
